.bg {
  background: url('/assets/images/icons/Fundo3.png')  no-repeat;
  background-size: cover;
}




.icon {
  width: 23px;
  height: 17px;
  background-repeat: no-repeat;
}


@mixin icon-horizontal {
  display: flex; flex-direction: row; align-items: center;
  & > i {
    margin-right: $padding-default;
  }
}
@mixin icon-vertical {
  display: flex; flex-direction: column;  align-items: center;
}
.icon-horizontal {  @include icon-horizontal;  }
.icon-vertical {    @include icon-vertical;    }



.icon.atendimento {      background-image: url(/assets/images/icons/chat-icon.png);     }
.icon-hamburguer {       background-image: url(/assets/images/icons/hamburguer.png);  width: 23px; height: 15px; }
.icon.wishlist {         background-image: url(/assets/images/icons/wishlist-icon.png); width: 17px; }
.icon.login {            background-image: url(/assets/images/icons/login-icon.png);   width: 12px; }
.icon.seta {             background-image: url(/assets/images/icons/seta-icon.png);   width: 41px;}

.icon ~ * {
  margin: 0px;
}
