/*
 * Mobile offset menu
 */

 .mobilenav-toggler {
   display: none;
 }
 .mobilenav-close { display: none; }


 @media (min-width:320px) and
        (max-width: 667px)  {

    nav[role="pages-navigation"].mobilenav {

      padding-left: 0px;

      // bg
      background: rgba(black, 0.75);
      overflow: visible;
      opacity: 0;
      width:  100%;
      height: 100%;
      position: fixed;
      top:  0;
      left: 0;
      pointer-events: none;
      visibility: hidden;
      z-index: 999;

      transform: translateX(-150%);
      transition: opacity 0.7s, visibility 0s linear 0.7s, transform 0.7s ease-in-out;

    	visibility: visible !important;


      .mobilenav-toggler:checked + & {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.75s, transform 0.75s ease-in-out;
        transform: translateX(0);
      }


      /*
       * Menu vertical
       */
      > ul {
        background-color: #ffffff;
        width: calc( 100% - 56px );
        height: 100%;
        overflow: scroll;
        margin: 0px;
        padding: 0px;

        display: block;

        .mobile-logo {
          display: block;
          height: 56px;
          margin: $padding-mini $padding-default;
          padding-top: 10px;
           border: 0px;
          img { height: 36px; }
        }


        > li {
          display: block;

          &:nth-child(2){ border-top: 1px solid $separator-color; }
          border-bottom: 1px solid $separator-color;

          > a {
            width: 100%;
            display: inline-block;
            padding: 25px 10px;
            padding-left: 10px;
            color: $main-color;

            &:hover {
              background-color: $primary-color-bg;
              color: $primary-color-fg;
            }
          }

          /*
           * Submenu indicators
           */
          &.has-submenu {
            overflow: hidden;
            > a:after {
              content: '＋';
              float: right;
            }
            .submenu {
              display: none;
            }
          }
          &.has-submenu--active {
            > a {
              background-color: $primary-color-bg;
              color: $primary-color-fg;
            }
            > a:after {
              content: '－';
            }
            .submenu {
              position: static;
              display: block;
              background-color: transparent;
              width: 100%;
            }
          }

          &.spotlight {
            float: none;
            a { color: $primary-color-fg; }
          }

        }
      }

      /*
       * Submenus
       */
      .submenu {
        li {
          display: block;

          > a {
            display: block;

            color: $main-color;
            padding: 15px;

            &:hover {
              background-color: $primary-color-bg;
              color: $primary-color-fg;
            }

          }
        }
      }
    }

    .mobilenav-close {
      top: 0px;
      right: 0px;
      width: 56px;
      height: 56px;
      vertical-align: middle;
      position: absolute;
      display: block;
      position: absolute;
      background-color: #000000;
      text-align: center;

      span {
        line-height: 56px;
        color: $separator-color;
        font-size: 24px;
      }
    }



}
