/*
 * Modals css
 */

.modal-toggler {
  display: none;
}

.modal-container {
  background: rgba(white, 0.75);
  opacity: 0;
  width:  100%;
  height: 100%;
  position: fixed;
  top:  0;
  left: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
  z-index: 1000;

  .modal-toggler:checked + & {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
}

.modal {
  position: absolute;
  top:  50%;
  left: 50%;
  padding: 45px;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;

  &.close-modal-area {
    width:  100%;
    height: 100%;
  }

  &.modal-box {
    background: white;
    color: $main-color;
    box-shadow: $soft-shadow;
  }


  & h1 {
    font: $modal-header-font;
    text-transform: uppercase;
    color: $link-color;
    margin: 0px;
  }

  .content {
    height: 100%;

    .actions {
      margin: (2 * $padding-default) 0px 0px 0px;
    }
  }
}



#imgquality-modal {
  .windows , .osx {
    height: 100%;
    display: flex;
    flex-direction: row;

    .left-pane {
      display: flex;
      min-height: 100%;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-around;

      ol {
        margin: 0; padding: 0;
        > li {
          margin: $padding-default;

          &:first-child { margin-top: 0;   }
          &:last-child { margin-bottom: 0; }
        }
      }
    }

    .submsg {
      color: $text-color;
      text-transform: uppercase;
      font-size: 11px;

      a {
        font-weight: bold;
        color: $primary-color-bg;
      }
    }
  }

  /*
   * Enable/disable osx/windows
   */
  .content.modal--windows {
    > .osx { display:  none; }
    > .windows { display: flex; }
  }
  .content.modal--osx {
    > .osx { display: flex; }
    > .windows { display: none; }
  }

}
