/*
 * Reusable components of the page
 */
@import 'variables.scss';

@import '_icons.scss';
@import '_modals.scss';

@mixin button {
  display: inline-block;
  background-color: transparent;
  color: $main-color;

  border-radius: 5em;
  border: 1px solid $main-color;
  min-width: 125px;
  padding: $padding-mini+3  33px;
  margin-right: $padding-default;

  font: $button-font;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  transition: all $transition-default;
  transform: scale(1.0);

  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background-color: $main-color;
    color: white;
  }
}
.button {
  @include button;
}
/*
.button {
  display: inline-block;
  background-color: transparent;
  color: $main-color;

  border-radius: 5em;
  border: 1px solid $main-color;
  min-width: 125px;
  padding: $padding-mini+3  33px;
  margin-right: $padding-default;

  font: $button-font;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  transition: all $transition-default;
  transform: scale(1.0);

  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background-color: $main-color;
    color: white;
  }
}

*/

.button--primary {
  background-color: $primary-color-bg;
  color: $primary-color-fg;
  border: 1px solid $primary-color-bg;

  &:hover {
    border: 1px solid $primary-color-bg;
    background-color: transparent;
    color: $primary-color-bg;
  }
}

.button--secondary {
  color: $secondary-color-bg;
  border: 1px solid $secondary-color-bg;

  &:hover {
    background-color: $secondary-color-bg;
    color: $secondary-color-fg;
  }
}

.button--third {
  background-color: $third-color-bg;
  color: $third-color-fg;

  &:hover {
    background-color: transparent;
    color: $third-color-bg;
  }
}

.button--big {
  margin: $padding-default;
  min-width: 200px;
  font-weight: bold;
  padding: $padding-mini * 2;
  border-radius: 2em;
}


/*
 * Forms
 */
.circle-checkbox {
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all $transition-default;
  border: 1px solid #bebebe;
  color: $light-blue;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;

  &:hover {
     border: 1px solid darken(#bebebe, 20%);
  }
  &::before {
    content: '•';
    border-radius: 50%;
    width: 21px;
    position: absolute;
    content: '•';
    display: inline-block;
    font-size: 36px;
    text-align: center;
    top: -11px;
    left: -1px;

    transition: all $transition-default;
    transform: scale(0.01);
  }
  &:checked::before {
    transform: scale(1.0);
  }
}





/*
 * common ul/li styles
 */
ul {
  // pipe | separator
  &.pipe {
    li {
      &:after {
        content: "|";
      }

      &:last-child:after {
        content: " ";
        padding: 0px;
      }
    }
  }

  // dot | separator
  &.dot {
    li {
      &:after {
        content: "•";
        transform: scale(2.0);
      }

      &:last-child:after {
        content: " ";
        padding: 0px;
      }
    }
  }

  li.tripledots {
      content: "•••";
      transform: scale(2.0);
      color: $separator-color;
  }


  &.padding-mini {
    li:after {
      padding: $padding-mini;
    }
  }
  &.padding-default {
    li:after {
      padding: $padding-default;
    }
  }
  &.padding-big {
    li:after {
      padding: $padding-big;
    }
  }
}



/*
 * Breadcrumb
 */
.breadcrumb {
  padding: 0px;

  li {
    display: inline-block;
  }

  a {
    font-size: 11px;
    color: $main-color;
    text-transform: uppercase;

    &:hover { text-decoration: underline; }
    &.active { color: $primary-color-bg; }
  }
}




/*
 * Tabbed panes
 */
.tab-panes {

  // Tabs Link states
  header > ul > li {
    a { color: $main-color; font-weight: bold; }
    a.link--active { color: $link-color; }
  }

  // Tab pane state
  .tab-wrap {
    .tab--active {
      visibility: visible;
      display: block;
    }
    .tab--hidden {
      visibility: hidden;
      display: none;
    }
  }
}



/*
 * Cropper customization
 */
.cropper-point {
  border-radius: 50%;
}

.cropper-center { visibility: hidden; }
.cropper-point.point-n { visibility: hidden; }
.cropper-point.point-e { visibility: hidden; }
.cropper-point.point-w { visibility: hidden; }
.cropper-point.point-s { visibility: hidden; }

.cropper-point.point-se {
  width: 5px;
  height: 5px;
}







/*
 * Useful classes
 */
 .hidden {
   display: none;
 }
 .opacity-hidden {
   opacity: 0;
 }
 .visibility-hidden {
   visibility: hidden;
 }

 .animation-forwards {
   animation-fill-mode: backwards;
 }


.box {
  padding: $padding-default;
}
.box--white {
  background-color: #ffffff;
}

.text-link {
  cursor: pointer;
  color: $link-color;
}
