@import 'variables.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

a, a:visited {
  font: $link-font;
  text-decoration: none;
  color: $link-color;
  outline: 0;
}

ul > li {
  list-style: none;
  -webkit-padding-start: 0;
  padding: 0;
}

input[type="checkbox"] , input[type="radio"]{
    vertical-align:middle;
}

html, body {
  width: 100%;
}

body {
  margin: 0px;
  background-color: $bg-color;

  // background-color: $bg-color;
  color: $main-color;
  font: $default-font;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font: $header-font;
}



/*
 * components
 */
@import 'components.scss';


/*
 * helper top links
 */
article[role="helper-navigation"] {
  background-color: $helper-navigation-bg;

  display: flex;
  flex-direction: row;
  align-items: center;

  font: $helper-nav-font;
  padding: 0px $padding-viewport;
  height: 22px;

  li { display: inline; }
  a:hover { text-decoration: underline; }

  .i18n-links {
    flex: 1 1 20%;
    padding: 0px;

    a.active { font-weight: bold; }
  }

  .helper-links {
    text-align: right;
    flex: 1 1 80%;

    a { color: $main-color; font: $helper-nav-font; }
    li {
      padding: 0 $padding-big;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}


/*
 * Main navigation links
 */
section[role="main-navigation"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $main-navigation-bg;

  padding: 0 $padding-viewport;
  height: 77px;

  .logo {
    position: relative;
    left: 5px;
  }

  // hidden on desktop
  .hamburguer {
    display: none;
  }

  // user links (login, chat, wishlist)
  .user-options {
    ul { display: flex; align-items: center; }
    li { padding-left: $padding-icon; }

    .chat { display: none; }

    /*
     * telephone is two lines
     */
    .telephone > h3 {
      margin: 0px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3px;
    }
  }
}


/*
 * Page navigation
 */
nav[role="pages-navigation"] {
  background-color: $page-navigation-bg;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: $padding-viewport - $padding-default;

  .mobile-logo { display: none; }

  ul { width: 100%; padding: 0; margin: 0; line-height: 40px; }
  li {
    display: inline-block;
    position: relative;

    // right spotlight
    &.spotlight {
      float: right;

      a {
        background-color: $page-navigation-spotlight;
        padding: 12px $padding-big;
      }
    }

    a {
      color: $primary-color-fg;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 12px $padding-default;

      transition: all $transition-default;

      &:hover {
        background-color: $page-navigation-spotlight;
      }
    }

    /*
     * Submenu indicators
     */
     &.has-submenu {
       .submenu {
         display: none;
         width: 200px;

         li {
           display: inline-block;
           width: 100%;
           a {
             display: inline-block;
             width: 100%;
           }
         }
       }
     }

    &.has-submenu--active {
      position: relative;

      .submenu {
        position: absolute;
        display: block;
        background-color: #00a1b2;
      }
    }

  }
}


section[role="main-content"] {
  flex-shrink: 0;
  min-height: 475px;

  padding: 0 $padding-viewport;
  padding-bottom: $padding-default;

  // gradient
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    pointer-events: none;
    /* height: 30px; */
    top: 138px;
    height: 30%;
    background: linear-gradient(to bottom, rgba(206, 206, 206, 0.5) 0%, transparent 100%);
  }
}


.sticker-container {
  max-width: 650px;
  margin: 0px auto;

  text-align: center;
  color: $text-color;
  font-size: 13px;

  header {
    width: 85%;
    margin: 0px auto;

    h1 {
      margin-bottom: 0;
    }

    .sticker__steps {
      height: 40px;
      border-top: 1px solid $separator-color;
      border-bottom: 1px solid $separator-color;
      padding: (2*$padding-mini) $padding-mini;
      margin-bottom: 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a { color: $main-color; font-weight: bold; }

      li:after {
        color: $separator-color;
      }
    }
  }

  .sticker__wrap {
    width: 100%;
    margin: 20px auto 0px auto;
  }

  hr {
    width: 80%;
    height: 1px;
    border: 0;
    border-top: 1px solid $separator-color;
    margin: 1em auto;
    padding: 0;
  }

  .actions {
    margin: $padding-default;
  }


  // pick image screen
  #sticker__pick {
    .supermsg {
      > p:first-child { margin-top: 10px; }
      > p:last-child { margin-bottom: 0; }

    }
    .submsg {
      font-size: 14px;

    }

    #imagepicker__input {
      display: none;
      visibility: hidden;
    }

    .box {
      font-size: 14px;
      padding: 20px 30px;

      > p {
        margin: 0;
      }
    }




  }

  // frame selection screen
  #sticker__frame {
    .instructions {
      > p:first-child { margin-top: 0px; }
      > p:last-child { margin-bottom: 0; }
      padding-bottom: $padding-mini;
    }
    .quality-meter {
      text-transform: uppercase;
      padding-bottom: $padding-default;
      h5 {
        font: $subheader-font;
        margin: $padding-mini;
      }
    }
    .meter {
      border-radius: 5em;
      border: 1px solid $main-color;
      width: 50%;
      padding: 8px $padding-mini;
      margin: 0px auto;
      position: relative;
      overflow: hidden;

      .labels {
        width: 100%;
        margin: 0px auto;
        font-weight: bold;
        font-size: 11px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        > span {
          z-index: 10;

          transition: color $transition-default;
        }
      }

      .bar {
        position: absolute;
        top: 0px; left: 0px;
        border-radius: 5em;

        width: 0%;
        height: 100%;

        z-index: 5;
        background-color: $light-blue;
      }


      // states of meter
      &.ok {
        .labels {
          span:first-child {
            color: #ffffff;
          }
        }
      }

      &.good {
        .labels {
          span:nth-child(2){
            color: #ffffff;
          }
        }
      }
      &.excellent {
        .labels {
          span:nth-child(3){
            color: #ffffff;
          }
        }
      }
    }

    .framer {
      margin: $padding-default auto;
      max-width: 90%;
      background-color: #ffffff;
      box-shadow: $soft-shadow;
      position: relative;

      img {
        background-color: #ff0000;
        max-width: 100%; /* This rule is very important, please do not ignore this! */
      }
    }
    .submsg {
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  // confirmation screen
  #sticker__confirm {
    .successmsg {
      margin: $padding-default;
      h3 {
        margin: 0px;
        color: $light-blue;
        font-weight: normal;
      }
      p { margin: 0; }
    }

    .preview {
      margin: $padding-default auto;
      width: 100%;
      background-color: transparent;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .sticker {
        overflow: hidden;

        width: 162px;
        height: 312px;
      }

      .final-image {
        position: relative;
        top: 20px;

        img {
          max-width: 100%;
        }

        #final-user-image {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 112px;
          height: 214px;
          transform: translate(105px, 80px);
        }
      }
    }


    .actions {
      margin: $padding-default;
    }

  }
}




/*
 * Footer
 */
footer[role="main-footer"] {
  position: relative;
  bottom: 0px;
  background-color: $helper-navigation-bg;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px $padding-viewport;

  & > .address {
    font: $footer-font;
    display: inline;
  }

  & > .copyright {
    display: inline;

    li {
      display: inline-block;
    }
  }
}


@import '_animations.css';
@import 'mobile.scss';

@import '_browsers_fixes.scss';
