/*
 * Mobile rules
 */

@import "_mobilenav.scss";
@mixin mobile-float-width {
  width: 120%;
  margin-left: -30px;
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
 @media (min-width:320px) and
        (max-width: 667px)  {

  body {
    overflow-x: hidden;
  }

  article[role="helper-navigation"] {
    display: none;
  }

  // hide some icons, adjust padding and some sizes
  section[role="main-navigation"] {
    padding: 0px $padding-mobile-viewport;
    max-height: 45px;

    .hamburguer {
      display: flex;
    }

    .logo {
      img { height: 28px; }
    }
    .user-options {
      ul { padding-left: 0px; }

      .atendimento {
        padding: 0px 0px; margin: 0px;

        a {
          @include icon-vertical;

          .chat { display: block; }
          .telephone { display: none; }
        }
      }
      .wishlist { display: none; }
      .login { display: none; }
    }
  }

  // use all space
  section[role="main-content"] {
    width: 100%;
    padding: 0 0;

    // hide gradient
    &:before {
      display: none;
    }

    .breadcrumb {
      padding: 0px $padding-mobile-viewport;
    }

    .sticker-container {
      header {
        width: 100%; margin: 0 0; overflow: hidden;

        /*
         * Tabs are not fluid
         */
        .sticker__steps {
          width: 120%;
          position: relative;

          /* We make the border with after:before
           * to make it wider than fluid parent container
           */
          border: 0px;
          &:before {
            content: ' ';
            width: 200%;
            height: 1px;
            border: 0;
            border-top: 1px solid $separator-color;
            position: absolute;
            top: 0px; left: 0px;
          }
          &:after {
            content: ' ';
            width: 200%;
            height: 1px;
            border: 0;
            border-bottom: 1px solid $separator-color;
            position: absolute;
            bottom: 0px; left: 0px;
          }

          position: relative;
          left: 0px; top: 0px;

          transition: left $transition-default;

          // hide triple dots
          li.tripledots { display: none; content: ''; }
          li:first-child {
            padding-left: 20px;
          }

          // make active tab centered
          &.tab-active--sticker__pick {
            left: 0px;
          }
          &.tab-active--sticker__frame {
            left: -70px;
          }
          &.tab-active--sticker__confirm {
            left: -180px;
          }
        }

      }

      .actions {
        text-align: center;
      }

    }

  }

  .sticker-container {

    // align some texts and boxes
    #sticker__pick {
      text-align: left;
      padding: 0 $padding-mobile-viewport;
      overflow: hidden;

      hr {
        @include mobile-float-width;
      }

      .box {
        @include mobile-float-width;
      }
    }

    // use all space and center elements
    #sticker__frame {
      .instructions {
        text-align: left;
        padding: 0 $padding-mobile-viewport;
      }
      hr {  display: none; }

      .meter {
        width: 100%;
      }

      .framer {
        margin: 15px 0;
        min-width: 100%;
      }
    }


    // only show final-image, centered
    #sticker__confirm {
      .preview {
        justify-content: space-around;
        .sticker { display: none; }
        > .icon-vertical { display: none; }

        .final-image {
          width: 308px;
          margin: 0px auto;

          #final-user-image {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 110px;
            height: 212px;
            transform: translate(120px, 80px);
          }
        }
      }
    }
  }


  footer[role="main-footer"] {
    text-align: center;
    height: 80px;
    .copyright { display: none; }
  }


  /*
   * modals
   */
   .modal {
     width: 95%;
     height: 70%;
     padding: 22px;

     .content { height: 100%; }
   }


   // hide right pane and make everything fits
   #imgquality-modal {
     .windows,
     .osx {
       .left-pane {
         h1 { text-align: center; }
         ol { margin: $padding-default 0; }
         .button { margin: 0px auto; }
       }
       .right-pane {
         display: none;
       }

     }
   }

   // plz fit in the modal box
   #terms-modal {
     .modal {
       height: 80%;
     }
     .actions > .button {
       margin-right: 0px;
     }
   }

 }

 /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
 /* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:668px) and
        (max-width: 1281px){

  // make helper-nav fit in one line
  article[role="helper-navigation"] .helper-links {
    flex: 1 1 100%;
    padding-left: 0;
    li {
      padding: 0 5px;
    }
  }

  // wrap pages-nav in another line
   nav[role="pages-navigation"] {
     line-height: 40px;
     > ul {
       margin: 0;
     }
   }

   // use all space
   section[role="main-content"] {
     width: 100%;

     // hide gradient
     &:before {
       display: none;
     }
  }
}
