/*
 * Grid layout
 *
$grid-columns: 9;
@import '~flexboxgrid-sass/flexboxgrid.scss';
*/

/*
 * Default fonts
 */
$default-font: normal 12px 'Roboto', sans-serif;
$link-font: normal 12px 'Roboto', sans-serif;
$helper-nav-font: normal 9px 'Roboto', sans-serif;
$header-font: bold 25px 'Roboto', sans-serif;
$subheader-font: normal 13px 'Roboto', sans-serif;
$footer-font: normal 10px 'Roboto', sans-serif;
$modal-header-font: bold 15px 'Roboto', sans-serif;

$button-font: normal 10px 'Roboto', sans-serif;



/*
 * Colors
 */

$bg-color: #f3f3f3;
$main-color: #a5a5a5;
$link-color: #58a0af;
$text-color: #676767;
$separator-color: #dadada;

// backgrounds
$helper-navigation-bg: #ffffff;
$main-navigation-bg: #fbfbfb;

$page-navigation-bg: #00a1b1;
$page-navigation-spotlight: #00808d;

$main-content-bg: #fbfbfb;

// primary(blue) highlight color
$primary-color-bg: #00a1b2;
$primary-color-fg: #ffffff;

// secondary(orange) highlight color
$secondary-color-bg: #ffbf31;
$secondary-color-fg: #ffffff;

// third (dark blue)
$third-color-bg: #00808d;
$third-color-fg: #ffffff;

$light-blue: #0096c3;

.separator-color {color: $separator-color; }
.primary-color { color: $primary-color-bg; }
.secondary-color { color: $secondary-color-bg; }
.third-color { color: $third-color-bg; }


/*
 *  Padding between elements
 */
$padding-viewport: 40px;
$padding-mobile-viewport: 20px;
$padding-icon: 25px;

$padding-mini: 5px;
$padding-default: 15px;
$padding-big: 33px;



/*
 * Shadow
 */
 $soft-shadow: 0px 0px 10px rgba(black,0.15);


/*
 * Animation
 */
$transition-default: 0.15s ease-out;
